* {
    font: 20px bold;
    font-family: 'Oxanium', cursive;
    scroll-behavior: smooth;
}

#hero {
    width: 100%;
    height: 250px;
    background: gray url("imagenes/hero6.jpg") no-repeat;
}


/** 6+ **/

@media (min-width: 361px) and (max-width: 414px) {
    #hero {
        background: gray url("imagenes/hero6plus.jpg") no-repeat;
        height: 300px;
    }
}


/** ipad **/

@media (min-width: 415px) and (max-width: 768px) {
    #hero {
        background: gray url("imagenes/heroipad.jpg") no-repeat;
        height: 350px;
    }
}


/** ipadpro **/

@media (min-width: 769px) and (max-width: 1024px) {
    #hero {
        background: gray url("imagenes/heroipro.jpg") no-repeat;
        height: 400px;
    }
}


/** notebooks **/

@media (min-width: 1025px) and (max-width: 1440px) {
    #hero {
        background: gray url("imagenes/heronb.jpg") no-repeat;
        height: 450px;
    }
}


/** desktop **/

@media (min-width: 1441px) and (max-width: 1920px) {
    #hero {
        background: gray url("imagenes/herodesk.jpg") no-repeat;
        height: 450px;
    }
}


/** 5k **/

@media (min-width: 1921px) {
    #hero {
        background: gray url("imagenes/hero5k.jpg") no-repeat;
        height: 1000px;
    }
}

.titulo {
    font: 40px bold;
    font-family: 'Oxanium', cursive;
}

.card {
    transform-origin: center;
    transition: filter 200ms linear, transform 200ms linear;
    transform: scale(1)translateZ(0);
    -webkit-transform: scale(1)translateZ(0);
    -moz-transform: scale(1)translateZ(0);
    -ms-transform: scale(1)translateZ(0);
    -o-transform: scale(1)translateZ(0);
    -webkit-transition: filter 200ms linear, transform 200ms linear;
    -moz-transition: filter 200ms linear, transform 200ms linear;
    -ms-transition: filter 200ms linear, transform 200ms linear;
    -o-transition: filter 200ms linear, transform 200ms linear;
}

.card:hover {
    transform: scale(1.06) translateZ(0);
    -webkit-transform: scale(1.06) translateZ(0);
    -moz-transform: scale(1.06) translateZ(0);
    -ms-transform: scale(1.06) translateZ(0);
    -o-transform: scale(1.06) translateZ(0);
}

#sec2 {
    background: repeat url("imagenes/pat1.png");
}

.logos {
    opacity: 0.5;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.logos:hover {
    opacity: 1;
}

#footer {
    background: repeat url("imagenes/pat1.png");
}

.iconosDeContacto {
    font-size: 30px;
    text-decoration: none;
}

#iconitos a:hover {
    text-shadow: 2px 2px #000;
    text-decoration: none;
}

.banderas {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

body.modal-open .supremeContainer {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}